  .window {
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
    transition: all 2.3s;
    transform: scale(0); 
    bottom: -1000px;
    left: 25%;
  }

  .clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
    transform: scale(1);     
    bottom:40%;
  }
  
  .page {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: white;
    width: 50vw;
    height: 300px;
  }

  .titlebar {
    display: flex;
    background-color: rgb(211, 209, 211);
    height: 44px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content: left;
  }

  .dot {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin: 3px;
    opacity: 1 !important;
  }

  .close {
    background-color: rgb(255, 91, 82);
  }

  .minimise {
    background-color: rgb(255, 194, 7);
  }

  .maximise {
    background-color: rgb(22, 208, 55);
  }