@font-face {
    font-family: 'San Francisco';
    src: url('path-to-font/SanFrancisco-Regular.woff2') format('woff2'),
        url('path-to-font/SanFrancisco-Regular.woff') format('woff');
    /* Agrega las demás variantes de la fuente si las necesitas */
}

body {
    font-family: 'San Francisco', sans-serif;
    font-size: 16;
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}


header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s
}

header ul {
    display: inline-block;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

header li {
    display: inline-block
}


header a {
    display: block;
    color: #3498db;
    padding: 10px
}

header a:hover {
    color: #217dbb;
    text-decoration: none;
    background: #eee;
    border-radius: 4px
}

header a:focus {
    color: #3498db;
    text-decoration: none
}

header.active {
    display: block
}

header.sticky {
    position: fixed;
    z-index: 999
}

#menu.active {
    display: block
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #3498db;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #fff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #3498db
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
}

#mobile-menu-close i {
    vertical-align: middle
}

.lead {
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    padding: 15px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.lead-content {
    position: absolute;
    z-index: 10;
    text-align: left;
}

/* The typing effect */
@keyframes type {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid black;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid black;
    }

    100% {
        border: none;
        opacity: 1;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid black;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid black;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

.typewrited {
    overflow: hidden;
    /* Asegura que el contenido no se revele hasta la animación */
    border-right: .15em solid black;
    /* Cursor de la máquina de escribir */
    white-space: nowrap;
    /* Mantiene el contenido en una sola línea */
}

.credentials h1 {
    width: 17em;
    color: #40798C;
    opacity: 0;
    font-weight: 900;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 1.8em;
    text-transform: uppercase;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.credentials h2 {
    width: 14em;
    color: #1F363D;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-left: 20px;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 5.3s;
    animation-delay: 5.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cv-link {
    text-decoration: underline;
    width: 9.2em;
    color: blue;
    margin-left: 20px;
    opacity: 0;
    -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 7.3s;
    animation-delay: 7.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.btn-rounded-white:hover {
    color: #3498db;
    background: #fff;
    text-decoration: none
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db
}

#lead-right-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

#lead-right-down img {
    object-fit: contain;
}

#programmer {
    margin-right: 100px;
    width: 120px;
}

#window {
    margin-right: 300px;
    width: 100px;
}

/* #lead-down {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    bottom: 0px;
    color: #fff;
} */

/* #lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #a0cfee;
    text-align: center;
}

#lead-down i {
    padding-top: 7px;
} */

#about {
    padding: 75px 5px;
    /*border-bottom: 1px solid #dcd9d9*/
}

#about h2 {
    color: #374054
}

#about p {
    color: #74808a;
    margin: 0
}

@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px
    }

    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto
    }

    #lead-content h1 {
        font-size: 3em
    }

    #lead-content h2 {
        font-size: 1.75em
    }

    #about {
        text-align: center
    }

    #about p {
        text-align: left
    }
}

@media only screen and (max-width: 750px) {

    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px
    }

    .vtimeline-icon {
        margin-left: 0
    }

    .vtimeline-content {
        margin-left: 70px
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%
    }

    #mobile-menu-open,
    #mobile-menu-close {
        display: block
    }

    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%
    }

    #menu li {
        display: block;
        margin-bottom: 10px
    }

    #lead-content h1 {
        font-size: 2em
    }

    #lead-content h2 {
        font-size: 1.3em
    }

    #lead-content a {
        padding: 10px 20px
    }

    #lead-down {
        display: none
    }

    #lead-right-down {
        text-align: center;
    }

    .education-block h3,
    .education-block span {
        float: none
    }

    .project-image {
        display: none
    }

    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none
    }

    footer {
        text-align: center
    }

    .social {
        text-align: center
    }
}

@media only screen and (max-width: 480px) {
    #lead-content h1 {
        font-size: 1.5em
    }

    #lead-content h2 {
        font-size: 1em
    }

    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px
    }
}