/* Imagenes para la sección de parallax*/

.jumbotron {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

/* 
    Sections
*/

.paralsec {
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: right center;
}

.about .row{
    background-color: #8d5d44;
}

.about .container {
    display: flex;
    flex-flow: row wrap;
	justify-content: flex-end;
}

.about .text {
    font-size: 5vw;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.about .image {
    padding: 0;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.about img {
    width: 100%;
    height: auto;
}

.experience .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.experience h2 {
    font-size: 4rem;
    text-align: center;;
}

.paralsec h2 {
    font-size: 4vw;
    text-align: left;;
}

.paralsec p {
    text-align: left;
}

.card {
    padding: 10px;
    border-top: 10px;
}

/* Footer */

footer {
	background-color: black;
	height: 50%;
    color: white;
    padding: 15px;
}

footer .social {
    display: flex;
    justify-content: center;
}

footer-copyright {
    text-align: center;
    align-content: center;
}


@media (min-width: 675px) {
    /* Los estilos aquí contenidos solo se aplicarán a partir
    del tamaño de pantalla indicado */
    .about .text {


    }

}


